<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="DBEntities" connectionString="metadata=res://*/EF.DAL.DBModel.csdl|res://*/EF.DAL.DBModel.ssdl|res://*/EF.DAL.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FITAnnouncements;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
